# <a href="https://mipt-stats.gitlab.io/courses/ad_mipt.html">Phystech@DataScience</a>
## Задание 5

**Правила:**

* Выполненную работу нужно отправить телеграм-боту `@miptstats_pds_bot`.
* Дедлайн **10 апреля в 23:00**. После дедлайна работы не принимаются кроме случаев наличия уважительной причины.
* Прислать нужно ноутбук в формате `ipynb` и все фотографии, если пишете теоретическую часть от руки.
* Решения, размещенные на каких-либо интернет-ресурсах, не принимаются. Публикация решения может быть приравнена к предоставлении возможности списать.
* Для выполнения задания используйте этот ноутбук в качестве основы, ничего не удаляя из него.

-----

*Замечания.* Теоретические решения можно оформить
* в $\LaTeX$-формате в ноутбуке;
* написать от руки и прикрепить к ноутбуку;
* написать от руки и выслать боту.  

Во втором случае также **важно** "вшить" фото в ноутбук. Сделать это можно с помощью Edit -> Insert Image в Jupyter или с помощью кнопки "Вставить изображение" в Colab. Следите за размером итогового файла.

Фотографии принимаются только в хорошем качестве, **следите за освещением и почерком**. На фотографиях также указывайте номера задач.

-----

In [16]:
import numpy as np
import pandas as pd
import scipy.stats as sps

import matplotlib.pyplot as plt
import seaborn as sns

red = '#FF3300'
blue = '#0099CC'
green = '#00CC66'

from statsmodels.sandbox.stats.multicomp import multipletests
from tqdm.notebook import tqdm

%matplotlib inline

# Теоретическая часть

## p-value (основной поток)

### Задача 1. 
 Для всех пунктов задач 5 и 6 прошлого домашнего задания выпишите формулу для p-value  $p(t) = <...>$  в виде кода на `scipy`, где $t$ - реализация статистики вашего критерия, т.е. $t = T(x), x$ &mdash; реализация выборки, $T(X)$ &mdash; статистика. 

Для задачи 6 также посчитайте численные значения для обоих случаев p-value для данного в задаче существа. Какие гипотезы отклоняются? 

Вычисления можно выполнить в Питоне по приведенным вами формулам.

In [ ]:
#Norm(theta, 1)

T = lambda x: x.mean()

p_val_3_a = sps.norm(loc=theta, scale=1/n**0.5).cdf(T(sample))
p_val_3_b = sps.norm(loc=theta, scale=1/n**0.5).sf(T(sample))

In [274]:
T = lambda x: x

p_val_1 = sps.gamma(a=2,scale=7/6).sf(T(6.66)) #H_0 - песик
p_val_2 = sps.gamma(a=3,scale=44/5).cdf(T(6.66)) #H_0 - единорог
print(p_val_1, p_val_2)

0.022255070646549243 0.041416397470335854

При уровне значимости $\alpha=0.05$ обе гипотезы отвергаются(как и получалось в прошлом задании).

## Множественная проверка гипотез (основной поток)


### Задача 2.
 Пусть $X_1, ...,  X_n$ --- выборка из неизвестного распределения $\mathsf{P}$. Для проверки гипотезы $\mathsf{H}_0\ vs.\ \mathsf{H}_1$ было решено использовать три различных критерия. Соответствующие p-value равны 0.00001, 0.7361, 0.0482. Какое должно быть принято решение об отвержении гипотезы $\mathsf{H}_0$ на уровне значимости 0.05? *Подсказка: используйте любой подходящий метод МПГ, далее делайте вывод об отвержении/не отвержении, поясните свой вывод.*

In [73]:
answer = pd.DataFrame()
pd.columns = ["p-value до корректривки"]
answer["p-value"] = [0.00001, 0.7361, 0.0482]
methods = ["bonferroni", "holm", "sidak", "holm-sidak", "fdr_by", "fdr_bh"]
for method in methods:
    print('\033[1m' + "Метод " + method + '\033[0m')
    result = multipletests(answer["p-value"], alpha=0.05, method=method)
    answer["Скорректированный p-value "] = result[1]
    answer["Отвергаем нулевую гипотезу "] = result[0]
    display(answer)
    print("\n")

Метод bonferroni

   p-value  Скорректированный p-value   Отвергаем нулевую гипотезу
0  0.00001                     0.00003                         True
1  0.73610                     1.00000                        False
2  0.04820                     0.14460                        False

Метод holm

   p-value  Скорректированный p-value   Отвергаем нулевую гипотезу
0  0.00001                     0.00003                         True
1  0.73610                     0.73610                        False
2  0.04820                     0.09640                        False

Метод sidak

   p-value  Скорректированный p-value   Отвергаем нулевую гипотезу
0  0.00001                    0.000030                         True
1  0.73610                    0.981621                        False
2  0.04820                    0.137742                        False

Метод holm-sidak

   p-value  Скорректированный p-value   Отвергаем нулевую гипотезу
0  0.00001                    0.000030                         True
1  0.73610                    0.736100                        False
2  0.04820                    0.094077                        False

Метод fdr_by

   p-value  Скорректированный p-value   Отвергаем нулевую гипотезу
0  0.00001                    0.000055                         True
1  0.73610                    1.000000                        False
2  0.04820                    0.132550                        False

Метод fdr_bh

   p-value  Скорректированный p-value   Отвергаем нулевую гипотезу
0  0.00001                     0.00003                         True
1  0.73610                     0.73610                        False
2  0.04820                     0.07230                        False

**Ответ:** При использовании любого метода нулевая гипотеза отвергается лишь для первого критерия (p-val$_{corrected} < 0.05$).

# Практическая часть

## Множественная проверка гипотез

### Задача 3 (все потоки).
Проведены эксперименты для оценки эффективности нескольких препаратов для снижения послеоперационной тошноты. Результаты экспериментов приведены в таблице ниже. При проведении эксперимента пациенты делились на группы случайным образом.

    
                            Количество пациентов  Количество случаев возникновения тошноты

		Плацебо                80                    45 

		Хлорпромазин           75                    26 
    
		Дименгидринат          85                    52 
    
		Пентобарбитал (100 мг) 67                    35 
    
		Пентобарбитал (150 мг) 85                    37 
    

 Проведите сравнение каждого препарата по эффективности по отношению к плацебо c использованием критерия Вальда (см. лекцию 5 и последующие). Какие методы МПГ, контролирующие FWER и FDR, можно использовать в данной задаче? Какие ответы можно получить для этих методов? В каждом случае приведите значения статистики критерия Вальда, p-value и скорректированные p-value. Поясните смысл p-value и множественной проверки гипотез в данной задаче. Оформите решение структурированно.

В данной задаче нужно использовать метод Холма, а не Шидака или Шидака-Холма, так как результаты для Пентобарбитала (100 мг) и Пентобарбитала (150 мг) могут быть зависимыми.

In [55]:
data = pd.DataFrame([["Плацебо", 80, 45],
    ["Хлорпромазин", 75, 26],
    ["Дименгидринат", 85, 52],
    ["Пентобарбитал (100 мг)", 67, 35],
    ["Пентобарбитал (150 мг)", 85, 37]])

data.columns = ["Название", "Количество пациентов", "Количество случаев возникновения тошноты"]

In [56]:
data

,Название,Количество пациентов,Количество случаев возникновения тошноты
0,Плацебо,80,45
1,Хлорпромазин,75,26
2,Дименгидринат,85,52
3,Пентобарбитал (100 мг),67,35
4,Пентобарбитал (150 мг),85,37

In [57]:
data["Оценка параметра p"] = [data["Количество случаев возникновения тошноты"][i] / data["Количество пациентов"][i] for i in range(len(data["Название"]))]
data

,Название,Количество пациентов,Количество случаев возникновения тошноты,Оценка параметра p
0,Плацебо,80,45,0.562500
1,Хлорпромазин,75,26,0.346667
2,Дименгидринат,85,52,0.611765
3,Пентобарбитал (100 мг),67,35,0.522388
4,Пентобарбитал (150 мг),85,37,0.435294

In [58]:
p_vals = []
Walds_stats = []
for i in range(1, len(data["Название"])):
    p_1 = data["Оценка параметра p"][i]
    n_1 = data["Количество пациентов"][i]
    p_2 = data["Оценка параметра p"][0]
    n_2 = data["Количество пациентов"][0]
    W_xy = (p_1 - p_2) / (p_1 * (1 - p_1) / n_1 + p_2 * (1 - p_2) / n_2) ** 0.5
    p_val = sps.norm().cdf(W_xy)
    Walds_stats.append(W_xy)
    p_vals.append(p_val)
data["Значение статистики критерия Вальда"] = ["-"] + Walds_stats
data["p-value до корректировки"] = ["-"] + p_vals

In [61]:
result = multipletests(p_vals, alpha=0.05, method="h")
data["p-value после корректировки"] = ["-"] + list(result[1])
data["Отвергаем гипотезу о неэффективности препарата"] = ["-"] + list(result[0])
data

,Название,Количество пациентов,Количество случаев возникновения тошноты,Оценка параметра p,Значение статистики критерия Вальда,p-value до корректировки,p-value после корректировки,Отвергаем гипотезу о неэффективности препарата
0,Плацебо,80,45,0.562500,-,-,-,-
1,Хлорпромазин,75,26,0.346667,-2.764364,0.002852,0.011407,True
2,Дименгидринат,85,52,0.611765,0.642987,0.739884,0.739884,False
3,Пентобарбитал (100 мг),67,35,0.522388,-0.486428,0.313332,0.626664,False
4,Пентобарбитал (150 мг),85,37,0.435294,-1.646605,0.04982,0.149459,False

**Вывод:**

Мы можем утверждать, что Хлорпромазин является эффективнее чем плацебо, так как отвергли гипотезу о неэффективности данного препарата.

Про остальные, на основе имеющихся данных, мы не можем утверждать, что они эффективнее чем плацебо.

p-value - вероятность встретить более экстремальную статистику при верности нулевой гипотезы. В данном случае, вероятность получить разность процентов возникновений рвоты меньше некоторой реализации статистики.

В данном случае мы используем методы МПГ для минимизации накапливающейся ошибки первого рода, т.е. для того чтобы выпустить как можно меньше неэффективных препаратов.